<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>setting</title>
</head>
<body>
    <p>게임 세팅</p>
    <form action="/setting/participant-info" method="post">
        <label>시민</label>
        <input type="number" name="citizenNumber" placeholder="시민의 숫자를 입력하세요.">
        <br>
        <label>마피아</label>
        <input type="number" name="mafiaNumber" placeholder="마피아의 숫자를 입력하세요.">
        <br>
        <label>의사</label>
        <input type="number" name="doctorNumber" placeholder="마피아의 숫자를 입력하세요.">
        <br>
        <label>경찰</label>
        <input type="number" name="policeNumber" placeholder="마피아의 숫자를 입력하세요.">

        <input type="submit">
    </form>
</body>
</html>
